.icon-ver {
    color: #333333
}

.icon-ver:hover {
    color: #000000
}

.icon-rol {
    color: #333333
}

.icon-rol:hover {
    color: #000000
}

.icon-editar {
    color: #00CC00
}

.icon-editar:hover {
    color: #009900
}

