/* Contenedor para el spinner de carga */
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* sobre todo el contenido */
}

.loading-container nz-spin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

