<div class="container">
  <div class="container-form">
    <!-- Spinner mientras carga o guarda -->
    @if (isLoading) {
    <div class="loading-container">
      <nz-spin
        nzSimple
        nzSize="large"
        [nzTip]="modo === 'editar' ? 'Cargando empleado...' : 'Guardando empleado...'"
      ></nz-spin>
    </div>
    }

    <div class="wizard-sidebar">
      <h4>{{ modo === 'agregar' ? 'Registro' : 'Editar'
            }}</h4>
      <div class="wizard-step active">
        <div class="step-icon">1</div>
        <span>Datos generales</span>
      </div>
    </div>

    <div class="wizard-separator"><div class="separator-line"></div></div>

    <div class="wizard-content">
      <form
        [formGroup]="empleadoForm"
        (ngSubmit)="guardarEmpleado()"
        nz-form
        nzLayout="vertical"
        class="form-content"
      >
        <div class="form-section">
          <h1>Datos del Empleado</h1>
          <div class="form-grid">
            <div class="form-item">
              <nz-form-item>
                <nz-form-label>Número empleado</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="id" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="form-grid">
            <!-- Nombre -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label
                  >Nombre<span class="requerido">*</span></nz-form-label
                >
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('nombre')"
                >
                  <input
                    nz-input
                    formControlName="nombre"
                    placeholder="Ingresa el nombre"
                    maxlength="50"
                  />
                  @for (error of getFieldErrors('nombre'); track error) {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Primer Apellido -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label
                  >Primer Apellido<span class="requerido"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('primerApellido')"
                >
                  <input
                    nz-input
                    formControlName="primerApellido"
                    placeholder="Ingresa el primer apellido"
                    maxlength="50"
                  />
                  @for (error of getFieldErrors('primerApellido'); track error)
                  {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Segundo Apellido -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label>Segundo Apellido</nz-form-label>
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('segundoApellido')"
                >
                  <input
                    nz-input
                    formControlName="segundoApellido"
                    placeholder="Ingresa el segundo apellido"
                    maxlength="50"
                  />
                  @for (error of getFieldErrors('segundoApellido'); track error)
                  {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Cargo -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label
                  >Cargo<span class="requerido">*</span></nz-form-label
                >
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('cargo')"
                >
                  <input
                    nz-input
                    formControlName="cargo"
                    placeholder="Ingresa el cargo"
                    maxlength="100"
                  />
                  @for (error of getFieldErrors('cargo'); track error) {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Teléfono Personal -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label
                  >Teléfono Personal<span class="requerido"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('telefonoPersonal')"
                >
                  <input
                    nz-input
                    formControlName="telefonoPersonal"
                    placeholder="10 dígitos"
                    maxlength="10"
                    type="tel"
                    (input)="onInput($event)"
                  />
                  @for (error of getFieldErrors('telefonoPersonal'); track
                  error) {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Teléfono Oficina -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label>Teléfono Oficina</nz-form-label>
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('telefonoOficina')"
                >
                  <input
                    nz-input
                    type="tel"
                    formControlName="telefonoOficina"
                    placeholder="10 dígitos"
                    maxlength="10"
                    (input)="onInput($event)"
                  />
                  @for (error of getFieldErrors('telefonoOficina'); track error)
                  {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Correo Electrónico -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label>Correo Electrónico</nz-form-label>
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('correoElectronico')"
                >
                  <input
                    nz-input
                    formControlName="correoElectronico"
                    placeholder="ejemplo@correo.com"
                    maxlength="100"
                  />
                  @for (error of getFieldErrors('correoElectronico'); track
                  error) {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Fecha de Inicio -->
            <div class="form-item">
              <nz-form-item>
                <nz-form-label
                  >Fecha de Inicio<span class="requerido"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control
                  [nzValidateStatus]="getValidateStatus('fechaInicio')"
                >
                  <nz-date-picker
                    formControlName="fechaInicio"
                    nzPlaceHolder="Selecciona la fecha de inicio"
                    [nzFormat]="'dd/MM/yyyy'"
                  ></nz-date-picker>
                  @for (error of getFieldErrors('fechaInicio'); track error) {
                  <div class="ant-form-item-explain-error">{{ error }}</div>
                  }
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- Botones Guardar / Cancelar -->
          <div class="btn-container">
            <button
              class="btn-style"
              nz-button
              nzType="primary"
              htmlType="submit"
            >
              {{ modo === 'editar' ? 'Actualizar' : 'Guardar' }}
            </button>
            <button
              class="btn-cancel"
              nz-button
              nzType="default"
              type="button"
              (click)="cancelar()"
            >
              Regresar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
