@import './styles/buttons.css';
@import './styles/titulos.css';
@import './styles/alertsFroms.css'; 
@import './styles/tablas.css';  
@import './styles/contenedorPrincipal.css';  
@import './styles/formularios.css';  
@import './styles/requerido.css';  
@import './styles/icons.css';  
@import './styles/spinner.css';  
@import './styles/home.css';  
